{% extends 'base.html.twig' %}

{% block title %}Add thought
{% endblock %}

{% block body %}
	<h1>New day ~ New thought</h1>

	{{ form_start(form) }}
	<div>
		{{form_row(form.title)}}
	</div>
	<div>
		{{form_row(form.content)}}
	</div>
	<div>
		{{form_row(form.colors)}}
	</div>
	<div>
		{{form_row(form.save)}}
	</div>
	{{ form_end(form) }}

{% endblock %}
