{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block body %}
	<h1>Thoughts list</h1>

	<div class="container">
		<div class="row">
			{% for thought in thoughts %}
				<div class="col-3">
					<div class="card text-center mt-2">
						<div class="card-header">
							<a href="{{ path('thought_read', {'id': thought.id}) }}">
								{{ thought.title }}</a>
						</div>
						<div class="card-body">
							<p class="card-text">{{ thought.content|slice(0,35) }} ...<a href="{{ path('thought_read', {'id': thought.id}) }}">read more</a> </p>
						</div>
						<div class="card-footer text-muted">
							<span class="badge" style="background-color: {{thought.colors.color}};" ><a href="{{ path('colorFeel_read', {'id': thought.colors.id}) }}">{{ thought.colors.feel }}</a></span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
